<!--Rodape--

<footer class="page-footer font-small bg-info pt-4">

    <div class="container">

        <div class="row">
            <div class="col-md-12 d-flex justify-content-center">
                <h4 class="text-white">Siga-nos nas redes sociais</h4>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12 d-flex justify-content-center">

                <ul class="social-network">
                    <li>
                        <a href="https://www.facebook.com" target="_blank" class="icoFacebook">
                            <i class="fa fa-facebook-square" aria-hidden="true"></i>
                        </a>
                    </li>

                    <li>
                        <a href="https://www.instagram.com" target="_blank" class="icoInstagram">
                            <i class="fa fa-instagram" aria-hidden="true"></i>
                        </a>
                    </li>

                    <li>
                        <a href="https://www.linkedin.com" target="_blank" class="icoLinkedin">
                            <i class="fa fa-linkedin-square" aria-hidden="true"></i>
                        </a>
                    </li>

                </ul>

            </div>
        </div>
    </div>

    

    <div class="footer-copyright bg-info text-center py-3">
        <span class="text-light"> © 2022 Copyright: EducaTea</span>
        <a class="text-light" target="_blank"></a>
    </div>

    
</footer>

>!--/Rodape-->

<!-- Footer Start -->
<div backgroudimagem='https://i.imgur.com/9nCO0cc.png' class=" bgPu  text-light footer" data-wow-delay="0.1s">

    <div class=" py-5 px-lg-5">
        <div class="container">

            <div class="row">
                <div class="col-md-12 d-flex justify-content-center">
                    <h4 class="text-white">Siga-nos nas redes sociais</h4>
                </div>
            </div>

            <div class="row">
                <div class="col-md-12 d-flex justify-content-center">

                    <ul class="social-network">
                        <li>
                            <a href="https://www.facebook.com" target="_blank" class="icoFacebook">
                                <i class="fa fa-facebook-square" aria-hidden="true"></i>
                            </a>
                        </li>

                        <li>
                            <a href="https://www.instagram.com" target="_blank" class="icoInstagram">
                                <i class="fa fa-instagram" aria-hidden="true"></i>
                            </a>
                        </li>

                        <li>
                            <a href="https://www.twitter.com" target="_blank" class="icoTwitter">
                                <i class="fa fa-twitter-square" aria-hidden="true"></i>
                            </a>
                        </li>

                    </ul>

                </div>
            </div>
            <div class="row">
                <div class="col-md-12 d-flex justify-content-center">
                    <h4 class="text-white">Contato:</h4>
                </div>
            </div>
            <div class="text-center col-md-12 d-flex justify-content-center endline">
                <img class="endicon " src="https://i.imgur.com/2nTEz6o.png" alt="">
                <p>Rua Vergueiro,300. São Paulo - SP</p>
            </div>
            <div class="text-center col-md-12 d-flex justify-content-center endline">
                <img class="endicon " src="https://i.imgur.com/hoGU2Wm.png" alt="">
                <p>(11) 5555-5555</p>
            </div>
            <div class="text-center col-md-12 d-flex justify-content-center endline">
                <img class="endicon " src="https://i.imgur.com/7SnuagI.png" alt="">
                <p>educatea@ong.com</p>
            </div>
        </div>


    </div>

    <!-- Footer End -->

    <!-- Back to Top -->
    <div class="pr-5 jusEnd">
        <a href="#">
            <img class="upButton " src="https://i.imgur.com/AapNv7i.png" alt="">
        </a>
    </div>
    <!-- /Back to Top -->

    <!-- copyright -->
    <div class="copyright">
        <div class="text-center">
            &copy; 2022 Copyright: EducaTea
        </div>
    </div>
    <!-- /copyright -->