<h1 class="text-center m-4 text-success">Área de Cursos</h1>
    <div class="text-center">
        <p>
            Cursos destinados a ajudar profissionais da educação, responsáveis e interessados a lidar melhor com
            a diversidade do espectro altísta (TEA).
        </p>
    </div>
    <h4 class="sub-titulo">Introdução ao TEA:</h4>
    <div class="card-group m-2 d-flex justify-content-center">
        <div class="curso">
            <img src="https://www.cl.df.gov.br/documents/10162/23799342/Captura+de+Tela+2021-05-07+a%CC%80s+14.59.28.png/27514a53-2a65-f50e-4ee9-a5f41d922d36"/>
            <div class="curso-info">
                <h6><b>O que é TEA e seus espectros?</b></h6>
            </div>
            <div class="botao">
                <button class="botaoStyle">Comprar</button>
            </div>
        </div>
        <div class="curso">
            <img src="https://www.cl.df.gov.br/documents/10162/23799342/Captura+de+Tela+2021-05-07+a%CC%80s+14.59.28.png/27514a53-2a65-f50e-4ee9-a5f41d922d36"/>
            <div class="curso-info">
                <h6><b>O que é TEA e seus espectros?</b></h6>
            </div>
            <div class="botao">
                <button class="botaoStyle">Comprar</button>
            </div>
        </div>
        <div class="curso">
            <img src="https://www.cl.df.gov.br/documents/10162/23799342/Captura+de+Tela+2021-05-07+a%CC%80s+14.59.28.png/27514a53-2a65-f50e-4ee9-a5f41d922d36"/>
            <div class="curso-info">
                <h6><b>O que é TEA e seus espectros?</b></h6>
            </div>
            <div class="botao">
                <button class="botaoStyle">Comprar</button>
            </div>
        </div>
        <div class="curso">
            <img src="https://www.cl.df.gov.br/documents/10162/23799342/Captura+de+Tela+2021-05-07+a%CC%80s+14.59.28.png/27514a53-2a65-f50e-4ee9-a5f41d922d36"/>
            <div class="curso-info">
                <h6><b>Como saber?</b></h6>
            </div>
            <div class="botao">
                <button class="botaoStyle">Comprar</button>
            </div>
        </div>
    </div>
    <h4 class="sub-titulo">Estimulos:</h4>
    <div class="card-group m-2 d-flex justify-content-center">
        <div class="curso">
            <img src="https://www.cl.df.gov.br/documents/10162/23799342/Captura+de+Tela+2021-05-07+a%CC%80s+14.59.28.png/27514a53-2a65-f50e-4ee9-a5f41d922d36"/>
            <div class="curso-info">
                <h6><b>Como estimular o desenvolvimento?</b></h6>
            </div>
            <div class="botao">
                <button class="botaoStyle">Comprar</button>
            </div>
        </div>
        <div class="curso">
            <img src="https://www.cl.df.gov.br/documents/10162/23799342/Captura+de+Tela+2021-05-07+a%CC%80s+14.59.28.png/27514a53-2a65-f50e-4ee9-a5f41d922d36"/>
            <div class="curso-info">
                <h6><b>Como estimular o desenvolvimento?</b></h6>
            </div>
            <div class="botao">
                <button class="botaoStyle">Comprar</button>
            </div>
        </div>
        <div class="curso">
            <img src="https://www.cl.df.gov.br/documents/10162/23799342/Captura+de+Tela+2021-05-07+a%CC%80s+14.59.28.png/27514a53-2a65-f50e-4ee9-a5f41d922d36"/>
            <div class="curso-info">
                <h6><b>Como estimular o desenvolvimento?</b></h6>
            </div>
            <div class="botao">
                <button class="botaoStyle">Comprar</button>
            </div>
        </div>
        <div class="curso">
            <img src="https://www.cl.df.gov.br/documents/10162/23799342/Captura+de+Tela+2021-05-07+a%CC%80s+14.59.28.png/27514a53-2a65-f50e-4ee9-a5f41d922d36"/>
            <div class="curso-info">
                <h6><b>Tipos de atividades?</b></h6>
            </div>
            <div class="botao">
                <button class="botaoStyle">Comprar</button>
            </div>
        </div>
    </div>
    