<!-- Navbar & Hero Start -->
<div class="container-xxl position-relative p-0">
    <nav class="navbar navbar-expand-lg navbar-light bg-roxo px-4 px-lg-5 py-3 py-lg-0">
        <a href="" class="navbar-brand p-0">
            <h1 class="m-0 titulo-tm bg-color">EducaTea</h1>
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
            <span class="fa fa-bars"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarCollapse"> 
            <div class="navbar-nav mx-auto py-0">
                <a href="index.html" class="nav-item nav-link">Home</a>
                <div class="nav-item dropdown">
                  <a href="#" class="nav-link dropdown-toggle" type="button" data-bs-toggle="dropdown">Sobre</a>
                  <div class="dropdown-menu m-0">
                      <a href="team.html" class="dropdown-item">Projeto</a>
                      <a href="testimonial.html" class="dropdown-item">Membros</a>
                      <a href="404.html" class="dropdown-item">Autismo</a>
                  </div>
              </div>
                <a href="service.html" class="nav-item nav-link">Cursos</a>
                <a href="project.html" class="nav-item nav-link">Pacotes</a>
                <a href="contact.html" class="nav-item nav-link">Contato</a>
            </div>
            <a href="" class="btn rounded-pill py-2 px-4 ms-3 d-none d-lg-block botao-tm">Cadastre-se</a> 
        </div>
    </nav>
  </div>
  <!-- Navbar & Hero End -->