<div class="container-fluid bg">
    <div class="row d-flex justify-content-center">
        <div class="col-md-8">
            <div class="row d-flex justify-content-center">
                <div class="col-md-6 mt-5 mb">
                    <h1 class="text-center mb-3 cor-entrar">Login</h1>
                    <div class="form-group">
                        <label for="usuario">Usuário</label>
                        <input class="form-control" type="text" name="usuario" id="usuario" placeholder="Seu usuário">
                    </div>
                    <div class="form-group">
                        <label for="senha">Senha</label>
                        <input class="form-control" type="password" name="senha" id="senha" placeholder="Sua senha">
                    </div>

                    <div class="d-flex justify-content-center">
                        <button type="submit" class="btn bg-button button">
                            <p class="button-entrar">Entrar</p>
                        </button>
                    </div>

                    <hr class="mt-5 mb-5">

                    <p class="text-center">
                        Não tem uma conta? <a class="cor-entrar" routerLink='/cadastro'> Cadastra-se</a>
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>